doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/list') HULFT-Agent(Demo)
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/list') スタートページ
            if agentid==null
              li.dropdown(style='display:none') 
            else
              li.dropdown
                a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') #{agentid} 状況照会 
                  span.caret
                ul.dropdown-menu
                  li: a(href='/sendlog/#{agentid}') 配信履歴
                  li: a(href='/sendlog/#{agentid}') 配信状況
                  li: a(href='/opllog/#{agentid}') 操作ログ 
            li.dropdown
              a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') 集信状況照会 
                span.caret
              ul.dropdown-menu
                li: a(href='/recvlog') 集信履歴
                li: a(href='/sendlog') 集信状況
            li
              a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') 要求発行(仮 不要) 
                span.caret
              ul.dropdown-menu
                li: a(href='#myModal' data-toggle='modal' data-target='#myModal') 要求発行
                li: a(href='/upload') アップロード 
            li
              a(href='/login') Login
    include modal.jade
    .container.body-content
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button',data-toggle='collapse',data-target='#bs-navbar-1',aria-expanded='false')
              span.sr-only Toggle Navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/list') Home &gt;
            a.navbar-brand #{agentid} &gt;
            a.navbar-brand #{title}
          .collapse.navbar-collapse#bs-navbar-1
            - var isshow = 'visible'; 
            - if (searchurl == null) isshow = 'hidden';          
            form.navbar-form.navbar-right(role='search', method='post', action='/#{searchurl}' style='visibility:#{isshow};')
              .form-group
                .btn-group
                  .btn-group  
                    .input-group
                      span.input-group-addon ID
                      input#searchID.form-control(type='text', name='searchid', placeholder='Search by ID ...') 
                  button.btn.btn-default(type='submit')
                    span.glyphicon.glyphicon-search 
      block content
      hr
      footer
        p #{message}

  script(src='/jquery/dist/jquery.min.js')
  script(src='/bootstrap/dist/js/bootstrap.js')
  script.
    $(document).ready(function() {
      $("#searchID").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#bodyList tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        }); 
      }); 
    });
