doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/jquery/dist/jquery.min.js')
    //script(src='/bootstrap/dist/js/bootstrap.min.js')
    //script(src='/bootstrap-validator/dist/validator.min.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/list') HULFT-Agent(Demo)
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/list') スタートページ
            if (agentid && loginuser)
              li.dropdown
                a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') #{agentid} 状況照会 
                  span.caret
                ul.dropdown-menu
                  li: a(href='/sendlog/#{agentid}') 配信履歴
                  li: a(href='/sendlog/#{agentid}') 配信状況
                  li: a(href='/opllog/#{agentid}') 操作ログ 
            if loginuser
              li.dropdown
                a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') 集信状況照会 
                  span.caret
                ul.dropdown-menu
                  li: a(href='/recvlog') 集信履歴
                  li: a(href='/recvlog') 集信状況
            li
              a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') 要求発行(仮 不要) 
                span.caret
              ul.dropdown-menu
                li: a(href='#myModal' data-toggle='modal' data-target='#myModal') 要求発行
                li: a(href='/upload') アップロード 
            //- li
            //-  a(href='/login') Login         
          if loginuser
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') 
                  span.glyphicon.glyphicon-user(aria-hidden='true') 
                  span.glyphicon-class #{env.loginUser}
                  span.caret
                ul.dropdown-menu 
                  li: a(href='#',data-toggle='modal', data-target='#adduser', data-whatever='#{env.loginUser}') パスワード変更
                  if env.loginUser == 'admin'
                    li: a(href='#', data-toggle='modal', data-target='#adduser') ユーザ追加 
                  li: a(href='logout') ログアウト
    include modal.jade
    include adduser.jade
    include navbar.jade
    .container-fluid.body-content
      .row.content
        //- todo: 
        //- if loginuser!=null
        //-   .col-sm-2.sidenav
        //-     include navsideleft.jade
        .col-sm-10.text-left
          block content
      hr
      footer
        p #{message}

  script(src='/bootstrap/dist/js/bootstrap.min.js')
  script(src='/bootstrap-validator/dist/validator.min.js')
  script.
    $(document).ready(function() {  /*
      $("#searchID").off("keyup", function(e){
        var value = $(this).val();
        if( value.match(/[^A-Z0-9\s.-]+/)) {
           alert(e.key);
        }
      });*/
      $("#searchID").on("keyup", function() {
        var value = $(this).val().toUpperCase();
        $("#bodyList tr").filter(function() {
          $(this).toggle($(this).text().toUpperCase().indexOf(value) > -1)
        }); 
        
      }); 
    });
