extends layout

block content
  h2 #{title}
  table.table.table-hover
    caption #{message}
    thead
     tr
      th(scope='col') #
      th(scope='col')
        input#selecthead(type='checkbox', name='shead')  
        button#btninstall.btn.btn-xs.btn-default(data-whatever='ALL', disabled) Install
        //button#btninstall.btn.btn-xs.btn-default(data-toggle='modal', data-target='#installerModal', disabled) Install
      th(scope='col') Agent ID
      th(scope='col') ホスト名
      th(scope='col') 稼働状態
      th(scope='col') 操作ログ
      th(scope='col') 配信状況
      th(scope='col') 配信履歴
      th(scope='col') コメント
    tbody#bodyList
      each agent, i in agents
        if agent.status=='Busy'
          tr.bg-warning
        else if agent.status == 'None'
          tr.bg-danger
        else if agent.status == 'Normal'
          tr.bg-info
        else 
          tr
        th(scope='row')= i+1 
        if agent.status=='Busy' || agent.status=='Normal'
          td: input.chkhost(type='checkbox',name='checkhost[]',value='#{agent.name}',disabled)
        else
          td: input.chkhost(type='checkbox',name='checkhost[]',value='#{agent.name}')
        td= agent.name
        td= agent.hostname
        td 
          if agent.status=='Busy'
            button.btn.btn-xs.btn-warning(data-toggle='modal', data-target='#installerModal') ビジー  
          else if agent.status == 'None'
            button.btn.btn-xs.btn-danger(data-toggle='modal', data-target='#installerModal', data-whatever='Agent003') 未インストール  
          else if agent.status == 'Normal'
            button.btn.btn-xs.btn-success(data-toggle='modal', data-target='#installerModal') 稼働中   
          else
            button.btn.btn-xs.btn-default(data-toggle='modal', data-target='#installerModal', data-whatever='Agent002') 未知  
         td            
           if agent.status=='Busy' || agent.status=='Normal'
             button.btn.btn-default.btn-xs(aria-label='Left Align')
               span.glyphicon.glyphicon-list-alt(aria-hidden='true')  
               a(href='/opllog/agent01')  ログ 
           else
             button.btn.btn-default.btn-xs.disabled(aria-label='Left Align')
               span.glyphicon.glyphicon-list-alt(aria-hidden='true') ログ 
         td 
           if agent.status=='Busy' || agent.status=='Normal'
             button.btn.btn-default.btn-xs(aria-label='Left Align')
               span.glyphicon.glyphicon-tasks(aria-hidden='true') 
               span  状態 
               if agent.notifysum > 0
                 span.badge= agent.notifysum              
           else
              button.btn.btn-default.btn-xs.disabled(aria-label='Left Align')
               span.glyphicon.glyphicon-tasks(aria-hidden='true')
               span  状態 
         td
           button.btn.btn-default.btn-xs(aria-label='Left Align')
             span.glyphicon.glyphicon-transfer(aria-hidden='true')
             a(href='/sendlog/agent01')  履歴 
         td
  include installdialog.jade
  script.
    $(function() {
       $('#selecthead').change(function() { 
         $('.chkhost').each(function() {
           if($(this).attr('disabled') == 'disabled') {
              $(this).prop('checked', false);
           } else {
              $(this).prop('checked', $('#selecthead').prop('checked'));
           }
         });
         var len = $('.chkhost:checked').length;
         if(len > 0) {
           $('#btninstall').prop('disabled', false);
         } else {
           $('#btninstall').prop('disabled', true);            
         }
       });
       
       $('#btninstall').click(function() {
         $('#installerModal').modal('show', $('.chkhost'));
       });

       $('.chkhost').change(function() {
         var len = $('.chkhost:checked').length;
         if(len > 0) {
           $('#btninstall').prop('disabled', false);
         } else {
           $('#btninstall').prop('disabled', true);
           $('#selecthead').prop('checked', false); 
         }
       });
       $('#installerModal').on('show.bs.modal', function(event) {
          var agentid = $(this).find('.modal-body p#agentid');
          var button =  $(event.relatedTarget);
          var whatever = button.data('whatever');
          if(whatever==null) {
            var len = button.length
            if(len>0 && button.prop('tagName')!= "BUTTON") {
              var agents = [];
              button.each(function() {
                if($(this).prop('checked') == true)
                  agents.push($(this).val());
              });
              agentid.text('選択したAgentID : '+ agents);
            } else {
              //agentid.text("null");
              event.preventDefault();
            }
          } else {
            agentid.text(whatever);
          }
       });
    });
