extends layout

block content
  h2 #{title}
  include searchlogdialog.jade
  script.
    $(function() {
      $('#hlogs').change(function() {
        $('.cseqno').each(function() {
           $(this).prop('checked', $('#hlogs').prop('checked'));
        });
        $('#btndelete').prop('disabled', !$('#hlogs').prop('checked'));
      });

      $('.cseqno').change(function() {
        var len = $('.cseqno:checked').length;

        if(len > 0) {
           $('#hlogs').prop('checked', undefined);
           $('#btndelete').prop('disabled', false);
        } else {
           $('#hlogs').prop('checked', false);
           $('#btndelete').prop('disabled', true);
        }        
      });
      $('#btndelete').click(function() {
        
        var form = $('#frmlist');
        form.attr('action', $(this).data('action'));
        
        $('<input>').attr({
          'type': 'hidden',
          'name': 'action',
          'value': 'DEL'
        }).appendTo(form);
        
        form.submit();
        
        /*
        var nos = [];
        $('.cseqno').each(function() {
           if($(this).prop('checked') )
              nos.push($(this).val());
        });
        //alert($('.cseqno').val());
        alert( nos );
        */
      });
      /*
      $('#btnsearch').click(function() {

      });

      $('#btnrefresh').click(function() {
        location.href=$(this).data('action'); 
      });
      */  
    });  
  .btn-group(role='group', aria-label="...")
    button.btn.btn-default 詳細
    button.btn.btn-primary#btnsearch(data-toggle='modal', data-target='#searchlog',data-whatever='#{searchURL}') 検索 
    button.btn.btn-success#btnrefresh(onclick='location.href="."') 更新
    button.btn.btn-danger#btndelete(data-action=".", disabled) 削除
  .btn-group(role='group', aria-label="...")
    button.btn.btn-info CSV出力
  .btn-group(role='group', aria-label="...")
    button.btn.btn-primary 配信要求
    button.btn.btn-warning ヘルプ
  form#frmlist(action='.', method='post')
    table.table.table-hover
      thead
        tr
          th(scope='col') 
            input#hlogs(type='checkbox', name='hlogs', value='#') 
          th(scope='col') ファイルID
          th(scope='col') ホスト名 
          th(scope='col') 開始日付
          th(scope='col') 開始時刻
          th(scope='col') 終了日付
          th(scope='col') 終了時刻
          th(scope='col') ファイル名
          th(scope='col') 完了コード
          th(scope='col') レコード件数
          th(scope='col') 接続
      tbody#bodyList 
        each log, i in logs
          tr(class=(log.returncode == '0') ? '' : 'bg-danger')
            th(scope='row')
              input.cseqno(type='checkbox', name='clogs', value='#{log.seqno}')
              span #{(pageid) *10+  (i+1)} 
            td= log.id
            td= log.hostname
            td= log.startday
            td= log.starttime
            td= log.endday
            td= log.endtime
            td= log.filename_utf8
            td #{log.returncode}-#{log.refercode}
            td= log.records
            td= log.junction_type
    nav(aria-label='Page navigation')
      ul.pagination
        li: a(href='?pageid=#{pageid>0 ? pageid-1 : 0}' aria-label='Previous')
          span(aria-hidden='true') &laquo;
        - for(var i=1; i<loglen; i+=10) {
          if parseInt(i/10)==pageid
            li: a(href='?pageid=#{parseInt(i/10)}'): strong #{parseInt(i/10) + 1}
          else
            li: a(href='?pageid=#{parseInt(i/10)}')  #{parseInt(i/10) + 1}
        - }
        li: a(href='?pageid=#{parseInt(pageid*10)<=parseInt(loglen) ? pageid+1 : pageid }' aria-label='Next')
          span(aria-hidden='true') &raquo;
    
